<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <style>

        .art-title{
            text-align:center;
        }
        .content{
            max-width:980px;
            min-width:320px;
            width:90%;
            margin:30px auto;
        }
        div.art-content img{
            display: block;
            max-width:280px;
        }
    </style>
</head>
<body>
<% include header %>

<div class="content">
    <!--title-->
    <h1 class="art-title"><%= res[0].title %></h1>
    <!--正文-->
    <div class="art-content"><%- res[0].content %></div>

    <div id="artBottom">
        <!-- 多说评论框 start -->
        <% for(var i=0; i < res.length; i++) { %>
            <div class="ds-thread" data-thread-key="<%= res[i].id %>" data-title="<%= res[i].title %>" data-url="http://western-ranger.com/blog?id=<%= res[i].id %>"></div>
        <% } %>
        <!-- 多说评论框 end -->
    </div>
</div>

<% include footer %>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"western-ranger"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
</body>
</html>
