<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="robots" content="all">
    <meta name="keywords" content="西泊园,西泊浪人">
    <meta name="description" content="前端开发工程师,前端,山东财经大学,人人网,奇虎360,你财富">
    <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/bloglist.css' />
</head>
<body>
<% include header %>
<div class="wrap">
    <div class="row content">
        <ol class="col-xs-12 col-sm-8 bloglist">
            <% for(var i=0; i < res.length; i++) { %>
            <li class="blogPer">
                <div style="margin-bottom:4px;">
                    <span style="display: inline-block;width:40px;"><<%= i+1%>></span>
                    <a href="/page/blog?id=<%= res[i].id %>"class="auth"><%= res[i].title %></a>
                </div>
                <div style="color:#999;font-size:12px;">
                    <span style="display: inline-block;width:40px;"></span>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>发布于 <%= res[i].date %>
                    <span class="glyphicon glyphicon-eye-open"></span> 阅读(777)
                </div>
            </li>
            <% } %>
        </ol>
        <div class="hidden-xs col-sm-4 right">
            <div class="about">
                <h3>关于我</h3>
                <p>
                    <b>西泊浪人</b>，立志成为一名屌屌的前端开发工程师，更是要成为一名全栈工程师。
                </p>
                <p>
                    前端之路漫漫，其修远兮。资历尚浅之吾，将上下而求索至地老天荒。
                </p>
            </div>
            <div class="follow">
                <h3>Follow me on</h3>
                <ul>
                    <li><a target="_blank" href="http://weibo.com/WesternRanger">新浪微博</a></li>
                    <li><a target="_blank" href="http://blog.csdn.net/westernranger">CSDN博客</a></li>
                    <li><a target="_blank" href="https://github.com/WesternRanger">github</a></li>
                    <li><a href="http://western-ranger.com">个人主页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include footer %>
<script src="/javascripts/common/jquery.min.js"></script>
<script src="/javascripts/bloglist.js"></script>
</body>
</html>
