<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include meta%>
    <style>
        .art-title{
            text-align:center;
            color: #1390cc;
        }
        .content{
            max-width:980px;
            min-width:320px;
            width:90%;
            margin:30px auto;
        }
        div.art-content img{
            display: block;
            border:#91c9cc solid 1px;
            border-radius: 3px;
            box-shadow: #91c9cc 2px 2px 2px;
        }
        @media screen and (max-width:767px){
            div.art-content img{
                width:100%;
            }
        }
        @media screen and (min-width:768px){
            div.art-content img{
                width:600px;
            }
        }
        .side-info{
            text-align: center;
            margin:0 auto 10px;
            color:#999;
        }
    </style>
</head>
<body>
<% include header %>

<div class="content">
    <!--title-->
    <h3 class="art-title"><%= res[0].title %></h3>
    <div class="side-info">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= res[0].date %> &nbsp;
        <span class="glyphicon glyphicon-eye-open"></span> 阅读(777) &nbsp;
        <span class="glyphicon glyphicon-wrench"></span> <%= res[0].type == 'it'?'技术积累':(res[0].type == 'his'?'历史感悟':(res[0].type == 'lif'?'生活杂记':'更新记录')) %>
    </div>
    <!--正文-->
    <div class="art-content"><%- res[0].content %></div>

    <div id="artBottom" data-id="<%= res[0].id %>">
        <!-- 多说评论框 start -->
        <% for(var i=0; i < res.length; i++) { %>
            <div class="ds-thread" data-thread-key="<%= res[i].id %>" data-title="<%= res[i].title %>" data-url="http://western-ranger.com/page/blog?id=<%= res[i].id %>"></div>
        <% } %>
        <!-- 多说评论框 end -->
    </div>
</div>

<% include footer %>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"western-ranger"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
</body>
</html>
