<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta charset="utf-8"/>
      <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" name="viewport" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta content="telephone=no" name="format-detection" />
      <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/base.css' />
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  <% include header %>
      <div class="row main-body">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

            <!--S 轮播图-->
            <div class="slide-content" onselectstart="return false">
                <div class="img ws-show">
                    <a href="/page/recruit">
                        <img src="http://7xp7rf.com1.z0.glb.clouddn.com/hs-job.jpg" alt="">
                        <p class="img-text">互联网招聘</p>
                    </a>
                </div>
                <div class="img ws-hide">
                    <a href="/page/recruit">
                        <img src="http://7xp7rf.com1.z0.glb.clouddn.com/hs-xiu.jpg" alt="">
                        <p class="img-text">布局</p>
                    </a>
                </div>
                <div class="img ws-hide">
                    <a href="/page/recruit">
                        <img src="http://7xp7rf.com1.z0.glb.clouddn.com/hs-nav.jpg" alt="">
                        <p class="img-text">前端圈子</p>
                    </a>
                </div>
            </div>
            <!--E 轮播图-->

            <!--S 最新发布 -->
            <div class="new-publish">
                <h3>最新发布</h3>
                <div class="publish-list">
                    <% for(var i=0; i < res.length; i++) { %>
                    <div class="new-item clearfix" data-url="/page/blog?id=<%= res[i].id%>">
                        <img class="new-img hidden-xs" src="<%= res[i].imgurl%>" alt="">
                        <div class="new-cont">
                            <div class="new-title">
                                <a class="cat" href="/page/bloglist?type=<%= res[i].type %>"><%= res[i].cntype %><i></i></a>
                                <span><%= res[i].title %></span>
                            </div>
                            <div class="preview">
                                <%= res[i].content %> &nbsp;......
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <!--E 最新发布 -->

        </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="item-block">
                  <h3>自我介绍</h3>
                  <ul>
                      <li>
                          <span class="intro-tip">家乡: </span><span>地道山东人</span>
                      </li>
                      <li>
                          <span class="intro-tip">母校: </span><a href="http://sdufe.edu.cn/">山东财经大学</a>
                      </li>
                      <li>
                          <span class="intro-tip">干活: </span><span>水货研发人员</span>
                      </li>
                      <li>
                          <span class="intro-tip">感觉: </span><span>生命不息,奋斗不止</span>
                      </li>
                  </ul>
              </div>

              <div class="item-block">
                  <h3>知名博客</h3>
                  <ul>
                      <li>
                          <a target="_blank" href="http://www.zhangxinxu.com/">鑫空间鑫生活</a>
                      </li>
                      <li><a target="_blank" href="http://www.daqianduan.com/">大前端</a></li>
                      <li>
                          <a target="_blank" href="http://www.xuanfengge.com/">轩枫阁</a>
                      </li>
                      <li>
                          <a target="_blank" href="http://www.75team.com/">奇舞团博客</a>
                      </li>
                      <li>
                          <a target="_blank" href="http://taobaofed.org/">淘宝前端团队博客</a>
                      </li>

                      <li>
                          <a target="_blank" href="http://fex.baidu.com/">百度前端团队</a>
                      </li>
                      <li>
                          <a target="_blank" href="http://www.alloyteam.com/">腾讯前端团队</a>
                      </li>

                  </ul>
              </div>

              <div class="item-block">
                  <h3>精华博客推荐</h3>
                  <ul>
                      <li>
                          <a target="_blank" href="http://www.75team.com/post/functional-how-far.html">函数式编程离我们有多远？</a>
                      </li>
                      <li>
                          <a target="_blank" href="http://taobaofed.org/blog/2016/04/05/optimize-in-tbhome/">淘宝首页性能优化实践</a>
                      </li>
                      <li><a target="_blank" href="http://www.zhangxinxu.com/wordpress/2012/04/inline-block-space-remove-%E5%8E%BB%E9%99%A4%E9%97%B4%E8%B7%9D/">去除inline-block元素间间距的N种方法</a></li>
                  </ul>
              </div>

              <div class="item-block">
                  <h3>今日音乐</h3>
                  <ul>
                      <li>
                          <span class="intro-tip">推荐</span>
                          <a target="_blank" href="http://play.baidu.com/?__m=mboxCtrl.playSong&__a=241187&__o=song/241187||playBtn&fr=-1%7C%7C-1||play.baidu.com#">Tell Me</a>
                      </li>

                  </ul>
              </div>

          </div>
      </div>
    <% include footer %>
      <script src="/javascripts/common/jquery.js"></script>
      <script src="/javascripts/common/bootstrap.min.js"></script>
      <script src="/javascripts/index.js"></script>
  </body>
</html>
