<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta charset="utf-8"/>
      <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" name="viewport" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta content="telephone=no" name="format-detection" />
      <meta name="robots" content="all">
      <meta name="keywords" content="西泊园,西泊浪人">
      <meta name="description" content="前端开发工程师,前端,山东财经大学,人人网,奇虎360,你财富">
      <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/base.css' />
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  <% include header %>
      <div class="row main-body">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

            <!--S 轮播图-->
            <div class="slide-content" onselectstart="return false">
                <% for(var i=0; i < res[1].length; i++) { %>
                <div class="img <%= i == 0?'ws-show':'ws-hide' %>">
                    <a href="<%= res[1][i].url%>">
                        <img src="<%= res[1][i].src%>" alt="">
                        <p class="img-text"><%= res[1][i].title%></p>
                    </a>
                </div>
                <% } %>
            </div>
            <!--E 轮播图-->

            <!--S 最新发布 -->
            <div class="new-publish">
                <h3>最新发布</h3>
                <div class="publish-list">
                    <% for(var i=0; i < res[0].length; i++) { %>
                    <div data-url="/page/blog?id=<%= res[0][i].id%>" class="new-item clearfix">
                        <img class="new-img hidden-xs" src="<%= res[0][i].imgurl%>" alt="">
                        <div class="new-cont">
                            <div class="new-title">
                                <a class="cat" href="/page/bloglist?type=<%= res[0][i].type %>"><%= res[0][i].cntype %><i></i></a>
                                <span><%= res[0][i].title %></span>
                            </div>
                            <div class="preview">
                                <%= res[0][i].content %> &nbsp;......
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <!--E 最新发布 -->

        </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="item-block">
                  <h3>自我介绍</h3>
                  <ul>
                      <li><span class="intro-tip">家乡: </span><span>地道山东人</span></li>
                      <li><span class="intro-tip">母校: </span><a target="_blank" href="http://sdufe.edu.cn/">山东财经大学</a></li>
                      <li><span class="intro-tip">干活: </span><span>水货研发人员</span></li>
                      <li><span class="intro-tip">感觉: </span><span>生命不息,奋斗不止</span></li>
                  </ul>
              </div>

              <div class="item-block" id="site">
                  <h3>知名博客</h3>
                  <ul></ul>
              </div>

              <div class="item-block" id="blog">
                  <h3>精华博客推荐</h3>
                  <ul></ul>
              </div>

              <div class="item-block" id="music">
                  <h3>今日音乐</h3>
                  <ul></ul>
              </div>

          </div>
      </div>
    <% include footer %>
      <script src="/javascripts/common/jquery.js"></script>
      <script src="/javascripts/common/bootstrap.min.js"></script>
      <script src="/javascripts/index.js"></script>
  </body>
</html>
